<div class="change-user-passwords-directive" ng-controller="changeUserPasswordsCtrl">
    <div class="close-windows"><span ng-click="closeChangePasswordWindows()">&times;</span></div>
    <p class="sanitize-info" ng-if="hasBeenSanitized">
        <i class="fa fa-window-close close-button" aria-hidden="true" ng-click="closeHasBeenSanitizedInfo()"></i>
        Unele cîmpuri introduse au fost modificate deoarece nu se încadrează
        în valorile acceptate (câmpurile sunt subliniate cu verde). Pentru mai multe informații despre
        ce este permis, accesează informațiile.
    </p>
    <div class="passwords-section">
        <div class="password-group" ng-if="show.showOldPassword">
            <label for="change-password-old">Parola veche:</label>
            <div class="input-info-error">
                <input id="change-password-old" ng-model="passwords.oldPassword" type="password" ng-focus="errors.oldPassword = false">
                <p class="pass-change-error" ng-if="errors.oldPassword">{{errors.oldPassword}}</p>
            </div>
        </div>
        <div class="password-group">
            <label for="change-password-new">Parola nouă:</label>
            <div class="input-info-error">
                <input id="change-password-new" ng-model="passwords.newPassword" type="password"
                       ng-focus="info.newPassword = true; errors.newPassword = false"
                       ng-blur="info.newPassword = false" maxlength="20" ng-class="{sanitized: sanitized.newPassword}">
                <p class="info-change" ng-if="info.newPassword">
                    Parola are minim 8 caractere, maxim 20 si trebuie sa aiba cel putin o litera mica, una mare si o cifra, fi fara spatii.
                </p>
                <p class="pass-change-error" ng-if="errors.newPassword">{{errors.newPassword}}</p>
            </div>

        </div>
        <div class="password-group">
            <label for="change-password-new2">Reintrodu parola nouă:</label>
            <div class="input-info-error">
                <input id="change-password-new2" ng-model="passwords.newPassword2" type="password" ng-focus="errors.newPassword2 = false"
                       ng-blur="errors.newPassword2 = false">
                <p class="pass-change-error" ng-if="errors.newPassword2">{{errors.newPassword2}}</p>
            </div>


        </div>
        <div class="password-group">
            <button ng-click="changePassword()">{{changeOrAddPasswordButton}}</button>
        </div>
    </div>
</div>
