<div class="create-or-edit-event">
    <div class="event-name">
        <label class="event-name-label event-label">
            Nume eveniment <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </label>
        <input class="event-input event-name-input" type="text" ng-model="event.name" ng-focus="event.error.name = undefined">
        <p class="event-error" ng-if="event.error.name">{{event.error.name}}</p>
        <label class="event-label">Tip eveniment <i class="fa fa-arrow-right" aria-hidden="true"></i></label>
        <select class="event-select day-event" ng-model="event.type" ng-options="eventType for eventType in keys.eventTypes"
                ng-init="event.type = event.type ? event.type : keys.eventTypes[0]" ng-disabled="!isCurrentView(keys.showMultiEventTypes)">
        </select>
    </div>
    <div class="event-date-recurrent" ng-if="eventIsRecurrent(event.type)">

        <div ng-if="eventIsRecurrent(event.type)">
            <label  class="event-label">
                Status eveniment <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </label>
            <select class="event-select day-event" ng-model="event.activeStatus" ng-options="eventStatus for eventStatus in keys.eventStatus"
                    ng-init="event.activeStatus = event.activeStatus ? event.activeStatus : keys.eventStatus[0]" >
            </select>
        </div>

        <label  class="event-label">
            Start <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </label>
        <input type="number" min="0" max="23" placeholder="ora" class="hour-event" ng-model="event.startHour"
               ng-focus="event.error.startTime = undefined">:
        <input type="number" min="0" max="59" placeholder="min" class="min-event" ng-model="event.startMinute"
               ng-focus="event.error.startTime = undefined">
        <p class="event-error" ng-if="event.error.startTime">{{event.error.startTime}}</p>

        <label  class="event-label" >Sfarsit <i class="fa fa-arrow-right" aria-hidden="true"></i></label>
        <input type="number" min="0" max="23" placeholder="ora" class="hour-event" ng-model="event.endHour"
               ng-focus="event.error.endTime = undefined">:
        <input type="number" min="0" max="59" placeholder="min" class="min-event" ng-model="event.endMinute"
               ng-focus="event.error.endTime = undefined">
        <p class="event-error" ng-if="event.error.endTime">{{event.error.endTime}}</p>

        <div>
            <label  class="event-label">
                Ziua <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </label>
            <select class="event-select day-event" ng-model="event.day" ng-options="day for day in keys.daysOfWeek"
                    ng-init="event.day = keys.daysOfWeek[6]">
            </select>
        </div>
    </div> <!--date recurrent-->

    <div class="event-date-unique" ng-if="eventIsUnique(event.type)">
    </div>

    <div class="event-description">
        <label  class="event-label">
            Descriere <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </label>
        <textarea class="event-textarea" ng-model="event.description" ng-focus="event.error.description = undefined"></textarea>
        <p class="event-error" ng-if="event.error.description">{{event.error.description}}</p>
    </div>


    <div class="event-session">
        <div class="individual-session" ng-repeat="session in event.sessions">
            <h5>Sesiunea {{$index + 1}}</h5>
            <label  class="event-label event-name-label">
                Atelier <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </label>
            <input type="text" placeholder="Atelierul (eg Scratch, Python..." ng-focus="session.error.workshop = undefined"
                   class="event-input workshop-event" ng-model="session.workshop">
            <p class="event-error" ng-if="session.error.workshop">{{session.error.workshop}}</p>
            <div ng-if="eventIsRecurrent(event.type)">
                <label  class="event-label">
                    Status sesiune <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </label>
                <select class="event-select day-event" ng-model="session.activeStatus" ng-options="eventStatus for eventStatus in keys.eventStatus"
                        ng-init="session.activeStatus = session.activeStatus ? session.activeStatus : keys.eventStatus[0]" >
                </select>
            </div>

            <div class="tickets-container">
                <div class="tickets-display-narrow">
                    <div class="individual-ticket-narrow" ng-repeat="ticket in session.tickets">
                        <label class="event-label">Tip tichet</label>
                        <select class="event-select ticket-type-narrow" ng-model="ticket.typeOfTicket" ng-init="ticket.typeOfTicket = keys.typesOfTickets[0]"
                                ng-change="ticket.nameOfTicket = ticket.typeOfTicket" ng-options="ticketType for ticketType in keys.typesOfTickets"></select>
                        <br>

                        <label class="event-label">Nume tichet</label>
                        <input class="event-input event-ticket-narrow-input" ng-model="ticket.nameOfTicket" ng-focus="session.ticketsError= undefined"
                               ng-init="ticket.nameOfTicket = ticket.nameOfTicket ? ticket.nameOfTicket : ticket.typeOfTicket" >
                        <br>

                        <label class="event-label">Număr tichete</label>
                        <input class="event-input event-ticket-narrow-input" type="number" class="ticket-number" min="1"
                               ng-model="ticket.numOfTickets" ng-focus="session.ticketsError = undefined">


                        <div class="buttons-div">
                            <button class="add-ticket-bttn" ng-click="addTicket(session.tickets)" ng-if="isLastItemInArray(session.tickets, $index)"
                                    title="Adaugă un nou ticket pentru sesiune">
                                Adaugă tichet
                            </button>
                            <button class="rem-ticket-bttn" ng-click="deleteTicket(session.tickets, $index)" title="Șterge tichetul curent">
                                Șterge tichet
                            </button>
                        </div>

                        <hr ng-if="!isLastItemInArray(session.tickets, $index)">
                    </div>
                    <p class="event-error" ng-if="session.error.ticketsError">{{session.error.ticketsError}}</p>
                </div>

                <div class="tickets-display-wide">
                    <table >
                        <tr>
                            <th class="col1">Tip tichet</th>
                            <th class="col2">Nume tichet</th>
                            <th class="col3">Nr tichete</th>
                            <th class="col4"></th>
                        </tr>
                        <tr ng-repeat="ticket in session.tickets">
                            <td>
                                <select class="ticket-type-wide" ng-model="ticket.typeOfTicket" ng-init="ticket.typeOfTicket = keys.typesOfTickets[0]"
                                        ng-change="ticket.nameOfTicket = ticket.typeOfTicket" ng-options="ticketType for ticketType in keys.typesOfTickets"></select>
                            </td>
                            <td>
                                <input class="event-input ticket-name" ng-model="ticket.nameOfTicket" ng-focus="session.ticketsError = undefined"
                                       ng-init="ticket.nameOfTicket = ticket.nameOfTicket ? ticket.nameOfTicket : ticket.typeOfTicket">
                            </td>
                            <td>
                                <input class="event-input ticket-number" type="number" class="ticket-number" ng-model="ticket.numOfTickets" min="1"
                                       ng-focus="session.error.ticketsError= undefined">
                            </td>
                            <td>

                                <button class="rem-bttn rem-ticket-bttn" ng-click="deleteTicket(session.tickets, $index)" title="Șterge evenimentul curent">
                                    Sterge
                                </button>
                            </td>
                        </tr>
                    </table>
                    <p class="event-error" ng-if="session.error.ticketsError">{{session.error.ticketsError}}</p>
                    <div class="buttons-div">
                        <button class="add-bttn" ng-click="addTicket(session.tickets)"
                                title="Adaugă un nou ticket pentru sesiune">
                            Adaugă tichet</button>
                    </div>
                </div>



            </div> <!--Tichets container div-->
            <div class="buttons-div">
                <button class="add-bttn" ng-if="isLastItemInArray(event.sessions, $index)" ng-click="addSession(event.sessions)">Adaugă sesiune</button>
                <button class="rem-bttn" ng-click="deleteSession(event.sessions, $index)">Șterge sesiunea</button>
            </div>
        </div> <!--session div-->
    </div>





</div>