<table>
    <tr>
        <th>Atelier</th>
        <th>Mentor</th>
        <th>Adresa</th>
        <th>Data</th>
    </tr>
    <tr ng-repeat="dojo in dojos | orderBy: 'location'">
        <td>{{dojo.subject}}</td>
        <td>{{dojo.mentor}}</td>
        <td>{{dojo.location}}</td>
        <td>{{dojo.date}}</td>
        <td ng-show="!dojo.isFull && !isAnyChildRegistered(dojo)">
            <button ng-click="registerChildForDojo(dojo)" >Inscrie</button>
        </td>
        <td ng-show="isAnyChildRegistered(dojo)">
            <button class="registered-in-dojo">{{dojo.registered[0].childName}} inscris!</button>
            <button class="registered-in-dojo-cancel" ng-click="cancelChildRegisterForDojo(dojo)">Renunță</button>
        </td>
        <td ng-show="dojo.isFull && !isAnyChildRegistered(dojo)">
            <button class="dojo-full">Dojo full</button>
        </td>

    </tr>
</table>