<div class="dojos-view-container">
    <div class="pages-banner dojo-banner">
        <h2>{{dojo.name}}</h2>
    </div>
    <button class="back-button" ng-click="goBackAction()" ng-if="views[keys.showBackButton]">
        Inapoi
    </button>
    <div class="dojo-description">
        <div class="dojo-description-container">
            <div class="col1-dojo-description">
                <div class="">
                    <span class="join-leave-container" ng-if="!dojo[keys.admin]">
                        <button class="leave-join-button" ng-if="!dojo[keys.hasJoined] && !dojo[keys.isPendingJoining]"
                                ng-click="joinDojoAction()">
                            Participă
                        </button>
                        <div class="join-dojo-screen" ng-if="views.showJoin" ng-click="closeJoinModal()">
                            <div class="container">
                                <div class="role mentor" ng-if="views.isAdult">
                                    <img src="../img/dojos/mentor.png" alt="Mentor">
                                    <h3 >Mentor</h3>
                                    <button ng-click="becomeMemberOfDojo($event, keys.mentor)">Trimite cerere</button>
                                </div>
                                <div class="role champion" ng-if="views.isAdult">
                                    <img src="../img/dojos/champion.png" alt="Campion">
                                    <h3 >Campion</h3>
                                    <button ng-click="becomeMemberOfDojo($event, keys.champion)">Trimite cerere</button>
                                </div>
                                <div class="role volunteer" ng-if="views.isAdult">
                                    <img src="../img/dojos/volunteer.png" alt="Voluntar">
                                    <h3 >Voluntar</h3>
                                    <button ng-click="becomeMemberOfDojo($event, keys.volunteer)">Trimite cerere</button>
                                </div>
                                <div class="role parent" ng-if="views.isAdult">
                                    <img src="../img/dojos/parent.png" alt="Parinte">
                                    <h3 >Parinte/Gardian</h3>
                                    <button ng-click="becomeMemberOfDojo($event, keys.parent)">Participă</button>
                                </div>
                                <div class="role attendee" ng-if="!views.isAdult">
                                    <img src="../img/dojos/attendee.png" alt="Cursant">
                                    <h3 >Cursant</h3>
                                    <button ng-click="becomeMemberOfDojo($event, keys.attendee)">Participă</button>
                                </div>
                            </div> <!--container-->
                        </div>
                        <button class="leave-join-button" ng-click="leaveDojoAction()"
                                ng-if="dojo[keys.isPendingJoining]">
                            Cancel joining
                        </button>
                        <button class="leave-join-button" ng-if="dojo[keys.hasJoined]" ng-click="leaveDojoAction()">
                            Părăsește dojo
                        </button>
                    </span><!--span join leave dojo-->
                    <label><i class="fa fa-user-o"></i> Rol in dojo</label>
                    <p>{{getUserRoleInDojo()}}</p>
                    <label><i class="fa fa-envelope"></i> Email</label>
                    <p>{{dojo.email }}</p>

                    <label><i class="fa fa-flag"></i> Status</label>
                    <p ng-repeat="status in dojo.statuses">{{status}}</p>

                    <label><i class="fa fa-clock-o"></i> Orar</label>
                    <p ng-repeat="recEvent in dojo.recurrentEvents">{{createSchedule(recEvent)}}</p>
                    <label><i class="fa fa-clock"></i>Social</label>
                    <p>
                        <a target="_blank" ng-if="dojo.twitter" href="{{dojo.twitter}}">
                            <img src="../img/dojos/twitter.png">
                        </a>
                        <a target="_blank" ng-if="dojo.facebook" href="{{dojo.facebook}}">
                            <img src="../img/dojos/facebook.png">
                        </a>
                    </p>
                </div>
            </div>
            <div class="col2-dojo-description">
                <div class="container">
                    <label>Locație</label>
                    <p class="location">{{dojo.address}}</p>
                    <a class="a-button" href="" ng-click="goToViewMembers()" ng-if="dojo[keys.showMembers]">
                        Membrii dojo-ului
                    </a>
                    <a class="a-button" href="" ng-click="goToEditDojo()" ng-if="dojo[keys.canEditDojo]">
                        Editează dojo-ul
                    </a>
                    <a class="a-button" href="" ng-click="deleteDojo()" ng-if="dojo[keys.canDeleteDojo]">
                        Șterge dojo-ul
                    </a>
                    <label>Copii ar trebui să vină cu:</label>
                    <ul class="requirements-list">
                        <li ng-repeat=" requirement in dojo.requirements">
                            {{requirement}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!--end of dojo description-->
    <div class="dojo-events">
        <h3>Evenimente</h3>
        <hr>
        <div class="dojo-events-container">
            <div class="dojo-event" ng-repeat="dojoEvent in dojo.events">
                <div class="col1-dojo-events">
                    <h3>{{getDojoName(dojoEvent)}}</h3>
                    <p>{{dojoEvent.description}}</p>
                    <div class="workshops">
                        <p>La acest eveniment vor avea loc atelierele:</p>
                        <ul>
                            <li ng-repeat="session in dojoEvent.sessions">{{session.workshop}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col2-dojo-events">
                    <h4 class="event-date">{{getEventDate(dojoEvent)}}</h4>
                    <button class="go-to-event-button">{{getRegisterButtonLabel(dojoEvent)}}</button>
                    <p ng-if="showUserNotRegistered(dojoEvent)">Utilizatorul nu este inregistrat</p>
                </div>
            </div>
        </div>
        <p ng-if="dojo.events.length === 0">Nu există momentan evenimente</p>
    </div>
    <div class="dojo-map-holder">
       <div id="dojo-map-single-dojo"></div>
    </div>

</div>