<div>
    <div id="edit-profile-picture">
        <div></div><!--This is for the banner -->
        <!--<img class="edit-user-image" ng-click="loadPicture()" title="Schimba poza"-->
          <!--src="{{myProfile.user.userPhoto ? '../img/user_photos/' +  myProfile.user.userPhoto: '../img/poza_profil.png'}}">-->
        <div class="user-profile-img"
             style="{{myProfile.user.userPhoto ? 'background-image:url(\'../img/user_photos/' + myProfile.user.userPhoto + '\')': 'background-image:url(\'../img/poza_profil.png\')'}}"></div>
        <label class="edit-user-image"><i class="fa fa-upload" aria-hidden="true" ng-click="loadPicture()"></i></label>
        <form enctype="multipart/form-data" action="{{'user/' + keys.uploadUserPictureRoute}}" method="post">
            <input class="always-hide" type="text" ng-model="myProfile.user._id">
            <input class="always-hide" id="user-photo-input" type="file" name="user-picture">
            <input class="always-hide" type="submit" id="user-photo-upload-button" value="Schimba poza">
        </form>
        <p>{{myProfile.user.firstName}}</p>
    </div>
    <button class="edit-profile-button" ng-click="goBackAction()">Înapoi la profil</button>
    <div class="personal-data">
        <h3>Date personale</h3>
        <div class="label-and-value">
            <label class="left-label" for="personal-data-lastname">Nume</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-lastname" ng-model="myProfile.user.lastName"
                   ng-click="myProfile.errors.lastName = undefined"> <br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.lastName">{{myProfile.errors.lastName}}</p>
        </div>
        <div class="label-and-value">
            <label class="left-label" for="personal-data-firstname">Prenume</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-firstname" ng-model="myProfile.user.firstName"
                   ng-click="myProfile.errors.firstName = undefined"><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.firstName">{{myProfile.errors.firstName}}</p>
        </div>
        <div class="label-and-value" ng-show="myProfile.views.showAlias">
            <label class="left-label" for="personal-data-alias">Alias</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-alias" ng-model="myProfile.user.alias"
                   ng-click="myProfile.errors.alias = undefined"><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.alias">{{myProfile.errors.alias}}</p>
        </div>
        <div class="label-and-value">
            <label class="left-label" for="personal-data-birthdate">Data nașterii</label>
            <input class="dojo-simple-fields-input" type="date" id="personal-data-birthdate" ng-model="myProfile.user.birthDate"
                   ng-click="myProfile.errors.birthDate = undefined"><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.birthDate">{{myProfile.errors.birthDate}}</p>
        </div>
        <div class="label-and-value">
            <label class="left-label" for="personal-data-address">Adresa</label>
            <textarea type="text" id="personal-data-address" ng-model="myProfile.user.address"
                      ng-click="myProfile.errors.address = undefined">
            </textarea><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.address">{{myProfile.errors.address}}</p>
        </div>
        <br>
        <!--<button ng-click="saveAction()">Salveaza</button>TODO Adina liked it removed-->
        <div class="clear-fix"></div>
    </div>

    <div class="personal-data">
        <h3>Contact</h3>

        <div class="label-and-value" ng-hide="isChildUnder14()">
            <label class="left-label" for="personal-data-email">E-mail</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-email" ng-model="myProfile.user.email" readonly><br>
        </div>

        <div class="label-and-value">
            <label class="left-label" for="personal-data-phone">Telefon</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-phone"  placeholder="07xxxxx" ng-model="myProfile.user.phone"
                   ng-click="myProfile.errors.phone = undefined"><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.phone">{{myProfile.errors.phone}}</p>
        </div>

        <div class="label-and-value" ng-hide="isChildUnder14()">
            <label class="left-label" for="personal-data-facebook">Facebook</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-facebook"  placeholder="Cont Facebook" ng-model="myProfile.user.facebook"><br>
        </div>
        <div class="label-and-value" ng-hide="isChildUnder14()">
            <label class="left-label" for="personal-data-Linkedin">Linkedin</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-Linkedin"  placeholder="Cont Linkedin" ng-model="myProfile.user.linkedin"><br>
        </div>

        <!--<button ng-click="saveAction()">Salveaza</button>TODO Adina liked it removed-->
        <div class="clear-fix"></div>
    </div>


    <div class="personal-data">
        <h3>Despre tine</h3>
        <div class="label-and-value biography-container">
            <label class="left-label" for="personal-data-biography">Bio</label>
            <textarea type="text" id="personal-data-biography" placeholder="Scurtă descriere" ng-model="myProfile.user.biography"></textarea>
            <div class="clear-fix"></div>
        </div>

        <div class="label-and-value">
            <label class="left-label" for="personal-data-phone">Limbaje de programare</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-programmingLanguages"  placeholder="Ex: Java, Javascript, Python"
                   ng-model="myProfile.user.programmingLanguages"><br>
        </div>

        <div class="label-and-value">
            <label class="left-label" for="personal-data-languagesSpoken">Limbi străine</label>
            <input class="dojo-simple-fields-input" type="text" id="personal-data-languagesSpoken"  placeholder="Ex: Engleză, Germană, Chineză"
                   ng-model="myProfile.user.languagesSpoken"><br>
        </div>
        <div class="label-and-value">
            <label class="left-label" for="personal-data-gender">Sexul</label>
            <div id="personal-data-gender" ng-model="myProfile.user.gender">
                <label>
                    <input  type="radio" name="gender" ng-model="myProfile.user.gender" value="male"> Masculin
                </label>
                <label>
                    <input type="radio" name="gender" ng-model="myProfile.user.gender" value="female"> Feminin
                </label>
                <label>
                    <input type="radio" name="gender" ng-model="myProfile.user.gender" value="other"> Altul
                </label>
            </div>
        </div>
        <div class="label-and-value" ng-show="myProfile.views[keys.showPasswords]">
            <label class="left-label" for="personal-data-password">Parola</label>
            <input class="dojo-simple-fields-input" type="password" placeholder="parola" id="personal-data-password" ng-model="myProfile.user.password"
                   ng-click="myProfile.errors.password = undefined"><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.password">{{myProfile.errors.password}}</p>
        </div>
        <div class="label-and-value" ng-show="myProfile.views[keys.showPasswords]">
            <label class="left-label" for="personal-data-password2">Confirmare parola</label>
            <input class="dojo-simple-fields-input" type="password" id="personal-data-password2" placeholder="confirmare parolă"  ng-model="myProfile.user.password2"
                   ng-click="myProfile.errors.password2 = undefined"><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.password2">{{myProfile.errors.password2}}</p>
        </div>

        <button class="save-profile" ng-click="saveAction()">Salvează</button>
        <div class="clear-fix"></div>

        <div class="add-kids-panel" ng-show="myProfile.views[keys.showAddChildren]">
            <button ng-click="addChildUnder14Action()">Adaugă copil <br>sub 14 ani</button>
            <button ng-click="addChildOver14Action()">Adaugă copil <br>peste 14 ani</button>
            <button>Invită copil <br>peste 14 ani</button>
        </div>


    </div>
    <div class="personal-data" ng-if="myProfile.views[keys.showInviteParent]">
        <h3>Parinți</h3>
        <div class="label-and-value">
            <label label class="left-label" for="personal-data-invite-parent">Invită</label>
            <input class="dojo-simple-fields-input" type="text" placeholder="Email parinte" id="personal-data-invite-parent"
                   ng-model="myProfile.emailParent" ng-click="myProfile.errors.inviteEmail = undefined"><br>
            <p class="error" ng-show="myProfile.errors && myProfile.errors.inviteEmail">{{myProfile.errors.inviteEmail}}</p>
            <button class="save-profile" ng-click="inviteParent()">Invită părinte</button>
        </div>

    </div>
</div>