<div id="register-login-wide">
    <div>
        <ul id="navigation-list-wide">
            <li>
                <a ng-class="{selected: navLink==='Despre'}"
                   ng-click="navLink='Despre'" ng-href="#!despre">Despre</a>
            </li>
            <li><a ng-click="navLink='Cum pot ajuta?'" ng-href="#!cum_pot_ajuta">Cum pot ajuta?</a></li>
            <li><a ng-click="navLink='Resurse'" href="">Resurse</a></li>
            <li><a ng-click="navLink='Parteneri'" href="">Parteneri</a></li>
            <li><a ng-click="navLink='Evenimente'" href="">Evenimente</a></li>
            <li><a ng-click="navLink='News'" href="">News</a></li>
            <li><a ng-click="navLink='Blog'" href="">Blog</a></li>
            <li><a ng-click="navLink='Contact'" href="">Contact</a></li>
            <li>
                <a ng-class="{selected: navLink==='Inscriere Saptamanala'}" ng-click="navLink='Inscriere Saptamanala'"
                   href="" ng-href="#!getDojos">Inscriere Saptamanala</a>
            </li>
        </ul>
    </div>

</div>