<div id="information">
    <div class="information-container">
        <!--event-filter-registered-users-->
        <div class="event-filter-registered-users information-body" ng-if="information === keys.eventFilterRegisteredUsers">
            <h3>Filtrarea utilizatorilor înregistrați la eveniment:</h3>
            <p><strong>Nume</strong>: ordonează numele A-Z sau Z-A</p>
            <p><strong>Status</strong>: ordonează utilizatorii dupa confirmare</p>
            <p><strong>Rol</strong>: ordonează dupa rolul utilizatorului in eveniment</p>
            <p><strong>Caută un utilizator</strong>: caută nume utilizator</p>
            <button class="close-info-button" ng-click="resetInformation()">OK</button>
        </div>
        <!--event-filter-registered-users-->


    </div>
</div>