<div>
    <div id="edit-profile-picture">
        <div></div>
        <div class="user-profile-img"
             style="{{myProfile.user.userPhoto ? 'background-image:url(\'../img/user_photos/' + myProfile.user.userPhoto + '\')': 'background-image:url(\'../img/user_photos/poza_profil.png\')'}}"></div>
        <p>{{myProfile.user.firstName}}</p>
    </div>
    <button class="edit-profile-button" ng-click="editAction()" ng-if="!(myProfile.views[keys.hideEditButton])">Editare profil</button>
    <div class="page-content">
        <div class="col1-my-profile">
            <div class=".block-div">
                <label class="col1-label">Data nașterii</label>
                <p class="col1-paragr">{{ getPrettyDate() }}</p>

                <label class="col1-label">Sexul</label>
                <p class="col1-paragr">{{myProfile.user.gender}}</p>

                <label class="col1-label">Adresa</label>
                <p class="col1-paragr">{{myProfile.user.address}}</p>

            </div>
        </div>
        <div class="col2-my-profile">
            <div class=".block-div" id="col2-my-profile-block-div">
                <div ng-if="myProfile.user.children.length > 0">
                    <h3>Copii</h3>
                    <hr>
                    <div class="my-profile-children">
                        <div class="my-profile-child" ng-repeat="child in myProfile.user.children"
                             ng-click="viewChildAction(child)">
                            <div class="child-profile-img"
                                 style="{{child.userPhoto ? 'background-image:url(\'../img/user_photos/' + child.userPhoto + '\')': 'background-image:url(\'../img/user_photos/poza_profil.png\')'}}"></div>
                            <p>{{child.firstName + " " + child.lastName}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="badges.length > 0">
                    <h3>Badge-uri</h3>
                    <hr>
                    <div class="badges-container-my-profile">
                        <view-badges-directive></view-badges-directive>
                    </div>

                </div>
                <div ng-if="myProfile.user.dojos.length > 0">
                    <h3>Membru al dojo</h3>
                    <hr>
                    <div class="dojo-bubble-container" ng-controller="dojoBubbleCtrl">
                        <div class="dojo-bubble" ng-repeat="dojo in myProfile.user.dojos"
                             ng-click="selectDojoAction(dojo, keys.myProfile)">
                            <img src="../img/dojos/default-dojo-picture.png">
                            <p>{{dojo.name}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="myProfile.user.parents.length > 0">
                    <h3>Părinți</h3>
                    <hr>
                    <div class="my-profile-children">
                        <div class="my-profile-child" ng-repeat="parent in myProfile.user.parents"
                             ng-click="viewParentAction(parent)">
                            <div class="child-profile-img"
                                 style="{{parent.userPhoto ? 'background-image:url(\'../img/user_photos/' + parent.userPhoto + '\')': 'background-image:url(\'../img/user_photos/poza_profil.png\')'}}"></div>
                            <p>{{parent.firstName + " " + parent.lastName}}</p>
                        </div>
                    </div>
                </div>
                <div class="my-profile-notifications" ng-if="myProfile.user.notifications.length > 0">
                    <h3>Notificări</h3>
                    <hr>
                    <div class="my-profile-notification-container" ng-repeat="notification in myProfile.user.notifications">
                        <div class="default-notification" ng-if="notification.typeOfNot === keys.parentInviteNotification">
                            <button ng-click="cancelChildInvite(notification)"><img src="../img/reject.png"></button>
                            <button ng-click="acceptChildInvite(notification)"><img src="../img/approve.png"></button>
                            <span><strong>{{notification.data.firstName + " " + notification.data.lastName}}</strong>
                                      <span ng-if="notification.data.alias">
                                          alias <strong>{{notification.data.alias}}, </strong>
                                      </span>
                                ți-a trimis o invitație să îi fi părinte pe <code>Coder Dojo Timișoara</code>
                            </span>

                        </div>
                        <div class="default-notification" ng-if="notification.typeOfNot === keys.infoNotification">
                            <button ng-click="dismissNotification(notification)"><img src="../img/reject.png"></button>
                           <span>
                               <strong>{{notification.data.msg}} </strong>
                            </span>

                        </div>
                        <div class="default-notification event-invite" ng-if="notification.typeOfNot === keys.eventInviteNotification">
                            <button ng-click="dismissNotification(notification)"><img src="../img/reject.png"></button>
                            <span>
                               <strong>{{notification.data.msg}} </strong>
                            </span>
                            <br>
                            <a class="go-to-event" ng-click="goToEvent(notification.data.eventId)">
                                mergi la eveniment
                                <i class="fa fa-caret-right" aria-hidden="true"></i>

                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>