# project dependencies
node_modules

# workspace stuff
.idea

# scss map files
/src/styles/*.map
/src/styles/main.css
/src/styles/.sass-cache

# the client folder
/client/directives
/client/scripts
/client/styles
/client/vendor
/client/views
/client/*.html

# images
/client/img/badges/user_uploaded/
/client/img/special_events/user_uploaded/
/client/img/user_photos/user_uploaded/

# log files
/logger/logFiles/