/******************************
GENERAL
*******************************/
.wrapper {
  margin: 0 auto;
  max-width: 850px;
  width: 100%; }

body {
  background-color: #ededed;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.003em;
  min-width: 400px;
  width: 100%; }

/******************************
HEADER
*******************************/
header {
  margin: 0; }
  header h1 {
    float: left;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.8em;
    margin: 10px 0 0 15%;
    text-align: center; }

.logo {
  float: left;
  height: 40px;
  margin: 5px 0 5px 10px;
  width: 40px; }

.clearfix {
  clear: both; }

#navigation-narrow {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  left: 0;
  height: 100%;
  padding: 0;
  position: absolute;
  margin: 0;
  overflow-y: hidden;
  text-align: center;
  width: 100%; }

#navigation-narrow-empty {
  display: inline-block;
  float: left;
  height: 100%;
  width: 20%; }

#navigation-narrow-full {
  background-color: white;
  display: block;
  float: right;
  height: 100%;
  padding: 0;
  will-change: transform;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  width: 80%; }
  #navigation-narrow-full.slide {
    transform: translateX(0); }
  #navigation-narrow-full ul {
    padding: 0; }
  #navigation-narrow-full li {
    list-style: none;
    border-bottom: 1px solid grey; }
    #navigation-narrow-full li a {
      color: black;
      display: block;
      margin-left: 5px;
      padding: 5px 0;
      text-align: left;
      text-decoration: none; }
      #navigation-narrow-full li a:hover {
        background-color: #f7f7f7; }

#menuNarrow {
  background-color: white;
  border-radius: 5px;
  color: black;
  display: inline-block;
  float: right;
  margin: 10px 10px 0 0;
  padding: 3px 7px;
  text-decoration: none; }
  #menuNarrow:hover {
    background-color: #f7f7f7; }
  @media screen and (min-width: 768px) {
    #menuNarrow {
      display: none; } }

#register-login-wide {
  position: relative;
  top: 8px; }
  #register-login-wide #login-register-wide {
    float: right; }
  #register-login-wide #navigation-list-wide {
    background-color: #f4f4f4;
    clear: both;
    display: flex;
    list-style: none;
    padding: 0 5px;
    margin: 0;
    -webkit-justify-content: space-between; }
    #register-login-wide #navigation-list-wide li {
      display: inline-flex; }
    #register-login-wide #navigation-list-wide a {
      border-top: 4px solid #f4f4f4;
      border-bottom: 4px solid #f4f4f4;
      color: black;
      display: inline-block;
      font-size: .8em;
      padding: 10px 3px;
      transition: 0.5s;
      text-decoration: none;
      text-transform: capitalize; }
      #register-login-wide #navigation-list-wide a:hover {
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        color: #4b4b4b; }
  @media screen and (max-width: 768px) {
    #register-login-wide {
      display: none; } }

/******************************
Body
*******************************/
.main-body {
  background-color: white;
  border: 1px solid white; }

#about h1.despre-heading {
  font-size: 1.3em;
  font-family: 'Ubuntu Mono', monospace;
  margin: 20px 0 15px 50px; }
#about p {
  font-size: .8em;
  margin: 5px 10px;
  text-align: justify;
  text-indent: 40px; }

/******************************
Footer
*******************************/
footer .wrapper {
  background-color: #f4f4f4;
  display: flex;
  font-size: 0.55em;
  height: 120px;
  padding-top: 10px;
  -webkit-justify-content: space-between; }
  footer .wrapper .block-div {
    display: block; }
  footer .wrapper div {
    display: inline-flex; }
  footer .wrapper .footer-col1 {
    margin-left: 3%; }
    footer .wrapper .footer-col1 img {
      height: 60px;
      margin-left: 20px;
      width: 60px; }
  footer .wrapper .footer-col3 {
    margin-right: 10%; }
    footer .wrapper .footer-col3 img {
      height: 30px; }
    footer .wrapper .footer-col3 a {
      color: black;
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
