$test_border: 1px solid black;
$button_hover_color: #f7f7f7;
$color_navigation_list_wide: #f4f4f4;
$transition_resolution: 700px;

/******************************
GENERAL
*******************************/
.wrapper {
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
}

body {
  background-color: #ededed;
  color: black;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.003em;
  min-width: 400px;
  width: 100%;
}



/******************************
HEADER
*******************************/
header {
  margin: 0;

  .header-banner {
    display: flex;

    .header-banner-item {
      display: inline-flex;
    }


    .header-banner-col1{
        margin: 5px 0 5px 5px;
    }

    .header-banner-col2{
      margin: 12px 0 0 3px;
    }

    .header-banner-col3{
      margin: 5px 5px 3px auto;
    }
  }

  //Font for Logo
  h1 {
    font-size: 1.1em;
    line-height: 0.8em;
    font-weight: normal;
  }
}

.logo {
  height: 40px;
  width: 40px;
}

//button for narrow menu
#menuNarrowButton {
  background-color: white;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  color: lighten(black, 35);
  font-size: 1.4em;
  height: 24px;
  padding: 8px 12px 14px 12px;
  text-decoration: none;

  &:hover {
    background-color: $button_hover_color;
  }
  @media screen and (min-width: $transition_resolution){
    display: none;
  }


}


// Navigatie narrow
#navigation-narrow {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  left: 0;
  height:100%;
  padding: 0;
  position: absolute;
  margin: 0;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
}
#navigation-narrow-empty{
  display: inline-block;
  float: left;
  height: 100%;
  width: 20%;
}

#navigation-narrow-full{
  background-color: white;
  display: block;
  float: right;
  height: 100%;
  padding: 0;
  will-change: transform;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  width: 80%;

  &.slide {
    transform: translateX(0);
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid grey;

    a {
      color: black;
      display: block;
      margin-left: 5px;
      padding: 5px 0;
      text-align: left;
      text-decoration: none;
      &:hover {
        background-color: $button_hover_color;
      }
    }
  }
}


// Wide screen navigation
#register-login-wide {
  position: relative;
  top:8px;


  #navigation-list-wide {
    background-color: $color_navigation_list_wide;
    display: flex;
    list-style: none;
    padding: 0 5px;
    margin:0;
    -webkit-justify-content: space-between;

    li {
      display: inline-flex;

    }

    a{
      border-top: 4px solid $color_navigation_list_wide;
      border-bottom: 4px solid $color_navigation_list_wide;
      color: black;
      display: inline-block;
      font-size: .8em;
      padding: 10px 3px;
      transition: 0.5s;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        color: rgba(75, 75, 75, 1);
      }
    }

  }
  @media screen and (max-width: $transition_resolution){
    display: none;
  }
}

#login-register-wide {
  @media screen and (max-width: $transition_resolution){
    display:none;
  }
}

/******************************
Body
*******************************/

.main-body {
  background-color: white;
  border: 1px solid white;
}

#about {
  h1.despre-heading {
    font-size: 1.3em;
    margin: 20px 0 15px 50px;
  }

  p {
    font-size: .8em;
    margin: 5px 10px;
    text-align: justify;
    text-indent: 40px;
  }
}


/******************************
Footer
*******************************/

footer {
  .wrapper {
    background-color: $color_navigation_list_wide;
    display: flex;
    font-size: 0.55em;
    height: 120px;
    padding-top: 10px;
    -webkit-justify-content: space-between;

    .block-div {
      display: block;
    }


    div {
      display: inline-flex;
    }

    .footer-col1 {
      margin-left: 3%;
      img {
        height: 60px;
        margin-left: 20px;
        width: 60px;
      }
    }

    .footer-col3 {
      margin-right: 10%;
      img {
        height: 30px;
      }

      a {
        color: black;
        text-decoration:none;
      }
    }


  }



}