$test_border: 1px solid black;
$button_hover_color: #f7f7f7;
$color_navigation_list_wide: #f4f4f4;
$transition_resolution: 700px;

/******************************
GENERAL
*******************************/
.wrapper {
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
}

body {
  background-color: #ededed;
  color: black;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.003em;
  min-width: 400px;
  width: 100%;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
  }

}



/******************************
HEADER
*******************************/
header {
  margin: 0;

  .header-banner {
    display: flex;

    .header-banner-item {
      display: inline-flex;
    }


    .header-banner-col1{
        margin: 5px 0 5px 5px;
    }

    .header-banner-col2{
      margin: 12px 0 0 3px;
    }

    .header-banner-col3{
      margin: 5px 5px 3px auto;
    }
  }

  //Font for Logo
  h1 {
    font-size: 1.1em;
    line-height: 0.8em;
    font-weight: normal;
  }
}

.logo {
  height: 40px;
  width: 40px;
}

//button for narrow menu
#menuNarrowButton {
  background-color: white;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  color: lighten(black, 35);
  font-size: 1.4em;
  height: 24px;
  padding: 8px 12px 14px 12px;
  text-decoration: none;

  &:hover {
    background-color: $button_hover_color;
  }
  @media screen and (min-width: $transition_resolution){
    display: none;
  }


}


// Navigatie narrow
#navigation-narrow {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  left: 0;
  height:100%;
  padding: 0;
  position: absolute;
  margin: 0;
  overflow-y: hidden;
  text-align: center;
  z-index: 15;
  width: 100%;
}
#navigation-narrow-empty{
  display: inline-block;
  float: left;
  height: 100%;
  width: 20%;
}

#navigation-narrow-full, #navigation-narrow-full-user{
  background-color: white;
  display: block;
  float: right;
  height: 100%;
  padding: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  width: 80%;

  .user-logout {
    border-bottom: 1px solid grey;
    cursor: pointer;
    display: flex;
    padding: 10px;
    margin:0;
    text-align: right;

    &:hover {
      background-color: $button_hover_color;
    }

    img {
      height: 15px;
      display: inline-flex;
      padding-top: 3px;
      width: 15px;
    }

    span {
      color: #4c66b2;
      display: inline-flex;
      margin-left: auto;
    }


  }

  &.slide {
    transform: translateX(0);
  }

  ul {
    padding: 0;
    margin-top:0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid grey;

    a {
      color: black;
      display: block;
      margin-left: 5px;
      padding: 15px 0;
      text-align: left;
      text-decoration: none;
      &:hover {
        background-color: $button_hover_color;
      }
    }
    //Login and register buttons
    &.login-register-narrow {
      text-align: left;
      a {
        //border-top: 2px solid white;
        display: inline-block;

        &:hover {
          background-color: white;
          color: #630e63;
          transition: all 1s;
          text-decoration: underline;

        }

      }
    }
  }
}

#navigation-narrow-full-user {
  left:20%;
  position: absolute;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  top:0;
  z-index: 35;

  #close-and-back { //This is for the icons to close the user menu or to go back to the previous menu
    display: flex;

    img {   //Right button
      cursor: pointer;
      display: inline-flex;
      height: 15px;
      padding:5px;
      width: 15px;

      &:last-child {//Close button
        height: 10px;
        margin-left: auto;
      }
    }
  }
  #user-image-narrow {
      img {
        height: 100px;
        margin: 0 auto;
      }
  }
}


// Wide screen navigation
#register-login-wide {
  position: relative;
  top:8px;


  #navigation-list-wide {
    background-color: $color_navigation_list_wide;
    display: flex;
    list-style: none;
    padding: 0 5px;
    margin:0;
    -webkit-justify-content: space-between;

    li {
      display: inline-flex;

    }

    a{
      border-top: 4px solid $color_navigation_list_wide;
      border-bottom: 4px solid $color_navigation_list_wide;
      color: black;
      display: inline-block;
      font-size: .8em;
      padding: 10px 3px;
      transition: 0.5s;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        color: rgba(75, 75, 75, 1);
      }
    }

  }
  @media screen and (max-width: $transition_resolution){
    display: none;
  }
}

#login-register-wide {
  @media screen and (max-width: $transition_resolution){
    display:none;
  }
}






/******************************
BODY
*******************************/

.main-body {
  background-color: white;
  border: 1px solid white;
}

#about {
  h1.despre-heading {
    font-size: 1.3em;
    margin: 20px 0 15px 50px;
  }

  p {
    font-size: .8em;
    margin: 5px 10px;
    text-align: justify;
    text-indent: 40px;
  }
}


/**************
Login
**************/
#login, #register {
  form {

    input {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 2px;
      color: #fff;
      font-family: "Exo", sans-serif;
      font-size: 1em;
      font-weight: 400;
      height: 40px;
      padding: 4px;
      text-align: center;
      width: 250px;

      &:hover {
        background: rgba(255,255,255, 0.3);
      }
      &:focus {
        border: 1px solid rgba(255, 255, 255, 0.9);
        background: rgba(255,255,255, 0.3);
        outline: none;
      }


    }
    input[type="button"]{
      background: #fff;
      border: 2px solid white;
      border-radius: 2px;
      color: #a18d6c;
      font-size: 1em;
      font-weight: 400;
      height: 45px;
      padding: 4px;
      width: 260px;
      &:hover {
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }
      &:active {
        opacity: 0.6;
      }
    }

  }
}

#login {
  background: url('../img/login_picture.jpg') no-repeat center;
  background-size: cover;
  height: 400px;
  form {
    text-align: center;
    padding-top: 135px;
  }

}

#register {
  background: url('../img/register_picture.jpg') no-repeat center;
  background-size: cover;
  height: 500px;


  }

#register, #login {
  form {
    text-align: center;
    padding-top: 95px;
  }

  .input_and_error {
    position: relative;
    margin: 0 auto;
    width: 250px;

    p {
      background-color: rgba(255, 0, 0, 0.3);
      border-radius: 3px;
      color: white;
      font-size: 0.6em;
      position: absolute;
      padding:0 5px;
      top: 25px;
      width: 250px;
      z-index: 1;
    }


  }

  .input_and_error_date_container {
    display: flex;
    width: 250px;
    //align-items: flex-end;
  }

  .input_and_error_date {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    display: inline-flex;
    padding: 0 1px 0 1px;
    width: 83.3px;

    &:hover{
      background: rgba(255,255,255, 0.3);
    }

    p {
      width: 70px;
    }

}



  .birthday-menu {
    background: transparent;
    color: #bbbaba;
    display: inline-block;
    font-family: "Exo", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    height: 45px;
    width: 83px;
    padding-left: 7px;
    outline: none;
    -webkit-appearance: none;



    option {
      background: transparent;
    }

  }
  #birthday-month-menu {
    padding-left: 4px;
  }

  select {
    border: none;
  }
 }
.just_registered {
  background-color: rgba(14, 127, 3, 0.6);
  border-radius: 4px;
  color: white;
  margin: 0 auto 10px auto;
  width: 260px;
}



/******************************
FOOTER
*******************************/

footer {
  .wrapper {
    background-color: $color_navigation_list_wide;
    display: flex;
    font-size: 0.55em;
    height: 120px;
    padding-top: 10px;
    -webkit-justify-content: space-between;

    .block-div {
      display: block;
    }


    div {
      display: inline-flex;
    }

    .footer-col1 {
      margin-left: 3%;
      img {
        height: 60px;
        margin-left: 20px;
        width: 60px;
      }
    }

    .footer-col3 {
      margin-right: 10%;
      img {
        height: 30px;
      }

      a {
        color: black;
        text-decoration:none;
      }
    }


  }



}