<div id="login" ng-controller="loginCtrl">
    <form name="login">
        <div class="login">
            <p class="just_registered" ng-show="justRegistered">Cont creat</p>
            <div class="input_and_error">
                <input type="text" placeholder="adresa de email" name="emailForm" ng-model="login.email" ng-focus="login.errors.email = undefined"><br>
                <p class="error" ng-if="login.errors && login.errors.email">{{login.errors.email}}</p>
            </div>
            <div class="input_and_error">
                <input type="password" placeholder="parola"  name='passwordForm' ng-model="login.password" ng-focus="login.errors.password = undefined"><br>
                <p class="error" ng-if="login.errors && login.errors.password">{{login.errors.password}}</p>
            </div>
            <div class="input_and_error">
                <input type="button" ng-click="loginUser()" value="Autentificare"><br>
            </div>

        </div>
    </form>

</div>