<div class="wrapper" >
    <div class="header-banner">
        <img src="img/logo.png" class="logo header-banner-item header-banner-col1" ng-click="showMenuNarrow()">
        <h1 class="header-banner-item header-banner-col2">CoderDojo<br>Timișoara</h1>
        <div class="header-banner-item header-banner-col3 search-for-dojos-wide">
            <a href="" ng-click="goToPage(keys.cautaUnDojo)"><i class="fa fa-search"></i> Caută un dojo</a>
        </div>
        <div id="login-register-wide" class="header-banner-item header-banner-col4">
            <div class="login-register-wide" ng-hide="user">
                <a class="login-register-buttons" href="#!register" >Cont nou </a> |
                <a class="login-register-buttons" href="#!login"> Intră în cont</a>
            </div>
            <div class="user-menu" ng-if="user">
                <div id="user-menu-header" ng-click="showUserMenuDropDown($event)">
                    <img id="header-wide-user-thumbnail" src="{{getUserThumbnailPhoto()}}" alt="Poza profil">
                    <span class="user-name">
                        {{user.firstName + ' ' + user.lastName}}
                        <span class="new-notification-info" ng-if="newNotificationCount" ng-click="viewNotificationsFromWide($event)">
                            {{newNotificationCount}}
                        </span>
                    </span>
                    <i class="fa fa-chevron-down"></i>
                </div>

                <ul class="user-menu-dropdown">
                    <li><a href="" ng-click="hideMenuNarrow();goToViewUserProfile()">Profilul meu</a></li>
                    <li><a href="#!getMyDojos" ng-click="hideMenuNarrow()">Dojourile mele</a></li>
                    <li ng-show="user.authorizationLevel === keys.admin">
                        <a href="#!addDojo">Adaugă Dojo</a>
                    </li>
                    <li ng-show="user.authorizationLevel === keys.admin">
                        <a ng-href="{{'#!' + keys.addBadgeLocation}}" >Adaugă badge</a>
                    </li>
                    <li ng-show="user.authorizationLevel === keys.admin">
                        <a href="" ng-click="goToAddSpecialEvent()">Adaugă eveniment special</a>
                    </li>
                    <li><a href="" ng-click="goToMyEvents()">Evenimentele mele</a></li>
                    <li><a href="" ng-click="logoutUser()">Logout</a></li>
                </ul>

            </div>
        </div>
        <a id="menuNarrowButton" class="header-banner-item header-banner-col3" href="" ng-click="showMenuNarrow()">&#9776;</a>
    </div>
    <header-narrow-directive></header-narrow-directive>
    <header-wide-directive></header-wide-directive>
</div>