<div id="add-dojo" ng-controller="addDojoCtrl">
    <div class="personal-data">
        <h3>Info dojo</h3>

        <div class="label-and-value">
            <label for="dojo-name">Nume</label>
            <input type="text" id="dojo-name" ng-model="dojo.name"
                   ng-click="errors.name = undefined"> <br>
            <p ng-show="errors.name">{{errors.name}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-address">Adresa</label>
            <input type="text" id="dojo-address" ng-model="dojo.address"
                   ng-click="errors.address = undefined"> <br>
            <p ng-show="errors.address">{{errors.address}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-latitude">Latitudine</label>
            <input type="number" id="dojo-latitude" ng-model="dojo.latitude"
                   ng-click="errors.latitude = undefined"> <br>
            <p ng-show="errors.latitude">{{errors.latitude}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-longitude">Longitudine</label>
            <input type="number" id="dojo-longitude" ng-model="dojo.longitude"
                   ng-click="errors.longitude = undefined"> <br>
            <p ng-show="errors.longitude">{{errors.longitude}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-email">Email</label>
            <input type="email" id="dojo-email" ng-model="dojo.email"
                   ng-click="errors.email = undefined"> <br>
            <p ng-show="errors.email">{{errors.email}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-status">Status</label>
            <input type="text" id="dojo-status" ng-model="dojo.status"
                   ng-click="errors.status = undefined"> <br>
            <p ng-show="errors.status">{{errors.status}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-orar">Orar</label>
            <input type="text" id="dojo-orar" ng-model="dojo.orar"
                   ng-click="errors.orar = undefined"> <br>
            <p ng-show="errors.orar">{{errors.orar}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-facebook">Facebook</label>
            <input type="text" id="dojo-facebook" ng-model="dojo.facebook"
                   ng-click="errors.facebook = undefined"> <br>
            <p ng-show="errors.facebook">{{errors.facebook}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-twitter">Twitter</label>
            <input type="text" id="dojo-twitter" ng-model="dojo.twitter"
                   ng-click="errors.twitter = undefined"> <br>
            <p ng-show="errors.twitter">{{errors.twitter}}</p>
        </div>

        <div class="label-and-value">
            <label for="dojo-requirements">Cerinte</label>
            <textarea id="dojo-requirements" ng-model="dojo.requirements"
                   ng-click="errors.requirements = undefined"> </textarea><br>
            <p ng-show="errors.requirements">{{errors.requirements}}</p>
        </div>




        <button class="save-profile" ng-click="addDojo()">Salveaza</button>

    </div>


</div>