<div ng-controller="dojosCtrl">
    <!--Search for dojo part-->
    <div class="map-or-list-buttons-holder">
        <button ng-class="{'selected': dojoViewer.views[keys.viewMap]}" ng-click="goToMap()">Hartă dojouri</button>
        <button ng-class="{'selected': dojoViewer.views[keys.viewList]}" ng-click="goToList()">Listă dojouri</button>
    </div>
    <div class="dojo-map-holder" ng-if="dojoViewer.views[keys.viewMap]">
        <div id="dojo-map"></div>
    </div>

    <dojo-list-directive ng-if="dojoViewer.views[keys.viewList]"></dojo-list-directive>
    <!--Search for dojo part-->





</div>