<div id="despre">
    <!--<div class="pages-banner">-->
        <!--<h2 >Despre</h2>-->
    <!--</div> TODO -->
    <img src="../img/despre.jpg" alt="Poza de grup CoderDojo Timisoara"></img>
    <h3>Ce este CoderDojo?</h3>
    <p><a href="https://coderdojo.com/" target="_blank">CoderDojo</a> este o miscare internationala, initiata in Irlanda in anul 2011 cu scopul de a oferi copiilor interesati contextul in care sa poata invata programare intr-un mediu informal, prin sesiuni regulate, in afara programului scolar (acesta este motivul pentru care sesiunile sunt, in general, sambata).</p>
    <p>La CoderDojo copiii invata sa programeze, sa dezvolte site-uri web, aplicatii, programe, jocuri si multe altele. Dojo-urile sunt initiate, conduse si mentorate de voluntari. Dojo-urile pot organia si alte tipuri de evenimente: tururi ale companiilor de tehnologie, primirea in vizite a unor profesionisti care sa povesteasca despre cariera lor, samd. Pe langa faptul ca invata cod, participantii intalnesc persoane cu interese similare, pot expune proiectele la care lucreaza, se pot lauda cu munca lor. CoderDojo transforma programarea intr-o experienta sociala si distractiva.</p>
    <p>CoderDojo are o singura regula: “Fiti cool!”. Asta se traduce prin a nu provoca probleme, a nu minti, a nu pierde timpul propriu si al celor din jur, a lega prietenii si a comunica pe teme de interes comune cu cei din jur.</p>
    <p>In acest moment (ianuarie 2016), CoderDojo numara aproape 1250 de dojo-uri in circa 70 de tari.</p>

    <h3>CoderDojo in Romania</h3>
    <p>Primele implementari CoderDojo in Romania au fost initiate de <a href="http://www.mavenhut.com/" target="_blank">Mavenhut Ltd.,</a>
    <a href="http://www.nextsteve.ro/" target="_blank">NextSteve Group</a>, <a href="https://www.telekom.ro/" target="_blank">Telekom Romania (pe atunci Romtelecom)</a> si
    <a href="https://www.facebook.com/700StartupHub" target="_blank">Timisoara Startup Hub</a>. </p>
    <p>Actualmente, evenimentele CoderDojo sunt derulate de echipe de voluntari in orasele Bucuresti, Timisoara, Arad, Calarasi, Iasi, Cluj-Napoca, Oradea, Orastie, Lugoj, Resita, Salonta, Siret si in comunele Dumbravita, Mosnita-Noua, Giroc, Sacalaz  din judetul Timis. In pregatire sunt dojo-uri la in diverse localitati de diferite marimi din tara.</p>
    <p>Participarea copiilor este gratuita, iar toti cei care se implica (mentori, organizatori) sunt voluntari.</p>
    <p>Toate echipele implicate isi doresc sa creeze un mediu inspirational si primitor pentru copiii participanti, membri ai generatiei de "digital natives".</p>
    <p><strong>Cei care doresc sa se implice in sprijinirea dojo-urilor existente sau sa contribuie la dezvoltarea de implementari ale conceptului CoderDojo in alte locatii, sunt rugati sa ne contacteze la new@coderdojo.ro. </strong></p>

</div>