
<div>
    <a id="menuNarrow" href="" ng-click="showMenuNarrow()">&#9776;</a>
    <div id="navigation-narrow">
        <div id="navigation-narrow-empty" ng-click="hideMenuNarrow()"></div>
        <div id="navigation-narrow-full">
            <ul>
                <li><a href="">Register | Login</a></li>
                <li><a href="\despre">Despre</a></li>
                <li><a href="">Cum pot ajuta?</a></li>
                <li><a href="">Resurse</a></li>
                <li><a href="">Parteneri</a></li>
                <li><a href="">Evenimente</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Inregistrare Saptamanala</a></li>
            </ul>
        </div>
    </div>


</div>