<div id="register-login-wide">
    <div>
        <ul id="navigation-list-wide">
            <li><a ng-href="#!despre">Despre</a></li>
            <li><a ng-href="#!cum_pot_ajuta">Cum pot ajuta?</a></li>
            <li><a href="">Resurse</a></li>
            <li><a href="">Parteneri</a></li>
            <li><a href="">Evenimente</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Inregistrare Saptamanala</a></li>
        </ul>
    </div>

</div>